* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(127, 255, 212, 0.418);
    display: flex;
    justify-content: center;
}

.container {
    width: 700px;
    background-color: rgba(66, 131, 168, 0.733);
    padding: 20px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-box {
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 10px;
}

#add-btn {
    height: 40px;
    padding: 10px;
    font-size: 17px;
    background-color: rgb(89, 192, 89);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;

}

#add-btn:hover {
    background-color: rgb(13, 54, 13);
}

#clear-btn {
    height: 40px;
    padding: 10px;
    font-size: 17px;
    background-color: rgb(189, 228, 216);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#clear-btn:hover {
    background-color: rgb(129, 233, 202);
}

.line {
    height: 1px;
    width: 650px;
    background-color: gray;
}

#st-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-box {
    height: 100px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: 2px solid rgb(126, 122, 122);
    border-radius: 14px;
}